<!---create a navbar or a header that contains the name of my site and a link to the homepage-->
<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="#">{{#index}}Index{{/index}}</a>
  </nav>
</div>
