<!---create a navbar or a header that contains the name of my site and a link to the homepage-->
<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="#">MESSAGE-BOARD WEBSITE</a>

  </nav>
</div>

  {{#link-to 'index'}}HOMEPAGE{{/link-to}}

  <p>WHAT IS GIT USED FOR?</p>
  <p>By Mercus Geduld</p>

  <p>Git allows a team of people to work together, all using the same files. And it helps the team cope with the confusion that tends to happen when multiple people are editing the same files.</p>

  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only">Question2</label>
      <p class="form-control-static">Feel free to ask any other question</p>
    </div>
    <div class="form-group mx-sm-3">
      <label for="inputPassword2" class="sr-only">Question</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="text">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
