
<h2>Welcome to the message-board interactive website.</h2>

<p>This is a website whereby you can ask any question you feel like.
  The answers will be readily provided by the website.Feel free to ask any question</p>

  <p>Below is a sample of questions that you could ask:
    <ul>
      <li>{{#link-to 'answer1'}}1.What is the internet?{{/link-to}}</li>
      <li>{{#link-to 'answer2'}}2.What is firebase?{{/link-to}}</li>
      <li>{{#link-to 'answer3'}}3.What is git used for?{{/link-to}}</li>
    </ul>

    <ul>
  {{#each model as |questions|}}
    {{question question=question update='update' destroyQuestion='destroyQuestion'}}
  {{/each}}
</ul>
{{new-question saveQuestion2="saveQuestion3"}}
  </p>
