
<h1>Welcome to the message-board interactive website.</h1>

<p>This is a website whereby you can ask any question you feel like.
  The answers will readily be provided by the website.Feel free to ask any question</p>
  

  {{#link-to 'answer1'}}Answer1{{/link-to}}
  {{#link-to 'answer2'}}Answer2{{/link-to}}
  {{#link-to 'answer3'}}Answer3{{/link-to}}
